<html>


	<head>
			<title>ADD Appointment Form</title>
			<link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel = "stylesheet">
			<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
			<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
			<script src="/static/scripts/modernizr-2.6.2.js"></script>
			
			<link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
			
			<script>
				<!-- https://api.jqueryui.com/datepicker/#option-minDate
				-->
				 $(function() {
					$( "#datepicker-1" ).datepicker({ dateFormat: 'dd-mm-yy',
					changeMonth: true,
					changeYear: true,
					yearRange: '2017:2018',
					dateFormat : 'dd-mm-yy',
					defaultDate: '{{start}}'
			});
					$( "#datepicker-1" ).datepicker("show");
				 });
			</script>
			
			<script>
				 $(function() {
					$( "#datepicker-2" ).datepicker({ dateFormat: 'dd-mm-yy',
					changeMonth: true,
					changeYear: true,
					yearRange: '2017:2017',
					dateFormat : 'dd-mm-yy',
					defaultDate: '{{finish}}'
			});
					$( "#datepicker-2" ).datepicker("show");
				 });
			</script>
	</head>
	
	<body>
	
	
	<script>
					
					
					
					
					$(function() { //shorthand document.ready function
						$('#htmlform').on('submit', function(e) { //use on if jQuery 1.7+
							//e.preventDefault();  //prevent form from submitting
							//var data = $("#login_form :input").serializeArray();
							//console.log(data); //use the console for debugging, F12 in Chrome, not alerts
							window.parent.location.reload();
						});
					});
             </script>
		<div class="container">
	
		<form name="htmlform" id="htmlform" method="post" action="{{ url_for('process_appointment', random=random,  windfarm=windfarm) }}" role="form" id='appform'>
		<input type="hidden" name="turbine" value = "{{windfarm}}">
		<input type="hidden" name="random" value={% if random%}{{random}}{% else %}all{% endif %}>
		
		
			<table >
				
				
				
				
				<!--  -->
				<thead class="thead-inverse">
						<tr>
					<th valign="top">
						<label for="start" >Start:</label>
					</th>
					<th valign="top">
						<label>Finish</label>
					</th>		
					<th valign="top">
						Availability
					</th>
					
					</tr>
					
				</thead>
				
				<!-- 
						SECOND ROW DATE PICKERS
				-->
				
				<tr>
				
					<td>
							<input  type="text" name="start" maxlength="10" 
							size="10" id='datepicker-1' class="span8">
					
					
					</td>
					
					<td>
						<input  type="text" name="finish" maxlength="10" size="10" 
						id='datepicker-2' class="span8">
					
						
					</td>
					
					<td>
						<input  type="text" name="curtailment" 
						maxlength="2" size="3" class="span14">
					</td>
					
					<td style="text-align:center" align="right">
						<input type="submit" value="Submit" class="btn btn-primary btn-large">  
					</td>
					
				
				</tr>
				
				<tr>
						<td>
							<!--<input type="time" name="start_time">-->
							<select name="start_time"  class="input-large">
								<option  value="{{st}}">{{st}}</option>
								 {% for period, time in times %}
									<option  value="{{time}}">{{time}}</option>
								 {% endfor %}
							</select>
						</td>
						
						<td>
							<select name="finish_time"  class="input-large">
								 <option  value="{{ft}}">{{ft}}</option>
								 {% for period, time in times %}
									<option  value="{{time}}">{{time}}</option>
								 {% endfor %}
							 </select>
						</td>
				</tr>
 
				
				<!--  -->
				
 
 
				<!--  -->
				
				
				<tr><td colspan="3"></td><td>
						<input type="button" name="answer" value="Ignore" onclick="parent.top.showDiv('hide')" class="btn btn-primary btn-large"/>
					</td></tr>		
					
					
					
				
				
				<!--  Comments -->
				<tr>
					 <td valign="top" colspan="3">
						<label for="comments" style="vertical-align: top;">Comments *</label>
					
						<textarea  name="comments" maxlength="1000" cols="41" rows="3" height="2"></textarea>
					</td>
					
					
					
					
					
				 
				</tr>
				
				
					
				</tr>
			</table>
		</form>
		
		</div>
	</body>

</html>